<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TRestaurantMapper">

    <resultMap id="TRestaurantResult" type="TRestaurant">
        <id property="id" column="id"/>
        <result property="restaurantName" column="restaurant_name"/>
        <result property="isState" column="is_state"/>
        <result property="createTime" column="create_time"/>
        <result property="createId" column="create_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateId" column="update_id"/>
        <result property="tenantId" column="tenant_id"/>
    </resultMap>

    <sql id="selectTRestaurantVo">
        select tr.id,tr.restaurant_name,tr.is_state,tr.create_time,
               tr.create_id,tr.update_time,tr.update_id,tr.tenant_id
        from t_restaurant tr
    </sql>

    <select id="selectTRestaurant" parameterType="TRestaurant" resultMap="TRestaurantResult">
        <include refid="selectTRestaurantVo"/>
    </select>

    <select id="selectTRestaurantByTRestaurantId" parameterType="Long" resultMap="TRestaurantResult">
        <include refid="selectTRestaurantVo"/>
        <where>
            <if test="id != null">AND tr.id = #{id}</if>
        </where>
    </select>

    <select id="selectTRestaurantListById" parameterType="Long" resultMap="TRestaurantResult">
        <include refid="selectTRestaurantVo"/>
        <where>
            tr.is_state = 1
            <if test="id != null">
                AND tr.id = #{id}
            </if>
        </where>
    </select>


    <insert id="add" parameterType="TRestaurant" useGeneratedKeys="true" keyProperty="id">
        insert into t_restaurant(
        <if test="restaurantName != null and restaurantName != ''">restaurant_name,</if>
        <if test="isState != null">is_state,</if>
        create_time
        )values (
        <if test="restaurantName != null and restaurantName != ''">#{restaurantName},</if>
        <if test="isState != null">#{isState},</if>
        sysDate()
        )
    </insert>

    <update id="edit" parameterType="TRestaurant">
        update t_restaurant
        <set>
            <if test="restaurantName != null and restaurantName != ''">restaurant_name = #{restaurantName},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="remove" parameterType="TRestaurant">
        delete from t_restaurant where id = #{id}
    </delete>

    <delete id="removeByIds" parameterType="Long">
        delete from t_restaurant where id = #{id}
    </delete>

</mapper>